#footer-wrapper
	.container
		.row
			.col-xs-12.col-sm-6.col-md-3
				h3 Contact
				br
				p Suite 4, Main Stand New Douglas Park Cadzow Avenue Hamilton ML3 0FT
				ul#contact-details
					li#phone 01698 426882
					li#fax 01698 424699
					li#email
						a(href="mailto:info@lanarkshirechamber.org") info@lanarkshirechamber.org
			.col-xs-12.col-sm-6.col-md-2
				h3 Quick Links
				br
				ul
					li
						a(href="/page/membership") Membership
					li
						a(href="/news") News
					li
						a(href="/events-archive") Events Archive
					li
						a(href="/contact") Contact
					//- li
					//- 	a(href="/page/membership") Website Terms
					//- li
					//- 	a(href="/page/privacy-policy") Privacy Policy
					li
						a(href="/page/cookies") Cookie Policy
					li
						a(href="/sitemap.xml") Site Map
			.col-xs-12.col-sm-6.col-md-3
				h3 Partners
				br
				ul#partners-links
					li
						a(href="http://www.businessgateway.co.uk/" target="_blank") www.businessgateway.co.uk
					li
						a(href="http://www.scottishenterprise.co.uk" target="_blank") www.scottishenterprise.co.uk
					li
						a(href="http://www.visitlanarkshire.co.uk" target="_blank") www.visitlanarkshire.co.uk
			.col-xs-12.col-sm-6.col-md-4
				h3 Join Our Mailing List
				br
				// Begin MailChimp Signup Form
				#mc_embed_signup
					form#mc-embedded-subscribe-form.validate(action='//lanarkshirechamber.us13.list-manage.com/subscribe/post?u=5fd4be273d5710ac4e9816f63&amp;id=46e3bd91d6', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
						#mc_embed_signup_scroll
							.mc-field-group
								//- label(for='mce-EMAIL') Email Address
								input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="ENTER YOUR EMAIL HERE" required)
							.mc-field-group-submit
								input#mc-embedded-subscribe.button(type='submit', value='JOIN NOW', name='subscribe')
							#mce-responses.clear
								#mce-error-response.response(style='display:none')
								#mce-success-response.response(style='display:none')
							// real people should not fill this in and expect good things - do not remove this or risk form bot signups
							div(style='position: absolute; left: -5000px;', aria-hidden='true')
								input(type='text', name='b_5fd4be273d5710ac4e9816f63_46e3bd91d6', tabindex='-1', value='')
				// End mc_embed_signup


				br
				h4 Follow Us On

				ul#social-media
					li
						a(href="//www.facebook.com/Lanarkshire-Chamber-of-Commerce-332487226795602/" target="_blank")
							img(src="../img/fb.jpg")
					li
						a(href="//twitter.com/lanarkshirecofc" target="_blank")
							img(src="../img/twitter.jpg")
					//- li
					//- 	a(href="")
					//- 		img(src="../img/gplus.jpg")
					li
						a(href="//www.linkedin.com/company/lanarkshire-chamber-of-commerce" target="_blank")
							img(src="../img/linked.jpg")


#copyright
	.container
		.row
			.col-lg-12
				p= records.site.sitedata[0].footer
div(id="cookieChoiceInfo" style="display: none;") Cookies help us deliver our services. By using our services, you agree to our use of cookies.<a style="margin-left: 8px;" href="/page/cookie-policy" target="_blank">learn more</a> <a id="cookieChoiceDismiss" style="margin-left: 24px;" href="#">Got it</a></div>


script(src="../js/main.js")
<!-- jQuery -->
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="../js/modernizr.custom.js")

<!-- Bootstrap Core JavaScript -->
script(src="../js/bootstrap.min.js")

<!-- Plugin JavaScript -->

script(src="../js/jquery.easing.min.js")
script(src="../js/jquery.fittext.js")
script(src="../js/cookies.js")
script(src="../js/wow.min.js")



<!-- Custom Theme JavaScript -->
script(src="../js/jquery.imagesloaded.min.js")
script(src="../js/cbpBGSlideshow.min.js")
script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
script(src="../js/creative.js")




//- script(type='text/javascript').
//- 	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);



//- <!-- Google Analytics -->
//- script(type="text/javascript")
//- 	!= records.site.sitedata[0].analytics