extends layout

block content
  h1.title-header List of Events
  hr
  .event-wrapper
    each event in events.orderBy('date', 'asc').slice(20,40)
      .event-items
        h3.event-title
          a(href= event.permalink)= event.title
        .event-day
          i(class="fa fa-clock-o", aria-hidden="true")
            date= dateFormat(event.date, 'dddd, LL')
        .clear
        .event-shortdesc
          p!= event.shortdesc
          p.read-more
            a(href= event.permalink) Read More

  nav
  ul.pager
    li.previous
      a(href='/events-list')
        span(aria-hidden='true') â†
        | Prev
    li.next
      a(href='/events-list-page=3')
        | Next
        span(aria-hidden='true') â†’