extends layout

block content
  h1.title-header Event Archives
  hr
  .event-wrapper
    //- ul
    //-   for event, i in records.events
    //-     if i < config.static_items
    //-       include templates/event

    //- button.more See more

    - each event in records.events.events
      .event-items
        h2.event-title= event.title
        .event-day
          i(class="fa fa-clock-o", aria-hidden="true")
            date= dateFormat(event.month +"/"+ event.day +"/"+ event.year, 'dddd, LL')
        .clear
        .event-content
          p!= event.description
