extends layout

block content
  h1.title-header Funding
  hr
  p From time to time, Lanarkshire Chamber of Commerce posts details of funding opportunities on a variety of topics in order to assist our Members. Details of these will be posted here as opportunities arise.