extends layout

block content
	h1.title-header= entry.title
	hr
	.main-content
		.entry-date
			i(class="fa fa-clock-o", aria-hidden="true")
				date= dateFormat(entry.date, 'dddd, LL')
		.lead-image
			img.img-responsive(src= entry.banner)
		.lead-content
			!= entry.body