extends layout

block content
	h1.title-header Training
	hr
	p Lanarkshire Chamber of Commerce runs training events on a variety of topics in order to assist our Members.

	h2 Session Date Time Venue

	p * Managing Safety & Health - The Basics
	p 12-Mar-15 09:30 - 11.30 Hamilton Academical FC, Cadzow Ave, Hamilton ML3 0FT

	p * Sensible Risk Assessment
	p 09-Apr-15 09:30 - 11:30 Hamilton Academical FC, Cadzow Ave,Hamilton ML3 0FT

	p * Fire Safety Awareness / Fire Risk Assessment module
	p 07-May-15 09:30 - 11:30 / 11:45 - 13:15, Hamilton Academical FC, Cadzow Ave, Hamilton ML3 0FT

	p * Improving Attendance and Managing Sickness Absence
	p 04-June-15 09:30 - 11.30 Hamilton Academical FC, Cadzow Ave,Hamilton ML3 0FT

	p Mentally Healthy Workplace Training For Line Managers
	p 8-June-15 09:30 - 16:30 Hamilton Academical FC, Cadzow Ave, Hamilton ML3 0FT



	h3 Course Descriptors

	p Managing Safety & Health – The Basics

	ul
		li Why manage safety and health
		li The safety and health management process
		li Workplace hazards and health risks
		li Workplace support and advice

	h3 Sensible Risk Assessment

	ul
		li Basic Health and Safety law
		li steps approach to risk assessment
		li Practical application of risk assessment
		li How to get help and support

	h3 Fire Safety Awareness (and) An Introduction To Fire Safety Risk Assessment (optional workshop)

	ul
		li The main requirements of Fire Safety Legislation
		li Typical workplace fire hazards
		li Advice on prevention fire safety measures
		li Action that should be taken if a fire occurs
		li The additional workshop will focus on:
		li Basic principles of fire risk assessment process as outlined in HWL Fire Safety Risk Assessment pack
		li Providing practical guidance to help you apply fire risk assessment principles, record your findings and plan actions

	h3 Improving Attendance and Managing Sickness Absence

	ul
		li Legal aspects
		li Impact of poor attendance and how to effectively manage absence
		li Types of absence and workplace implications
		li Best practice for dealing with long term & short term absence
			ul
				li Reporting and recording absenc
				li Effective communicatio
				li Effective return to work meetings
		li Other support systems
			ul
				li How to develop an Attendance Management Policy
				li How to get help and support

	h3 Mentally Healthy Workplace Training
	ul
		li To give employers and line managers a broad understanding of mental health
		li To identify key factors that contributes to a mentally healthy workplace
		li To improve managers confidence in dealing with this issue
		li To ensure that managers are aware of their legislative responsibilities in relation to health and wellbeing

	p This course is delivered as ‘blended learning’ and consists of an eLearning course (30mins-1 hour) and a 6 hours face to face learning. Participants must complete the eLearning course prior to attending.