@import '_settings'

normalize-css()
base()

body
  padding: 0px
  font: $font-size/1.7 $source-sans-pro
  font-weight: 400
  color: $font-color

h1, h2, h3, h4, h5
  font-family: $source-sans-pro !important
  font-weight: 300

p, span, strong, li, a, th, td, thead
  font-family: $source-sans-pro !important

a
  color:purple
  text-decoration:none !important

a:hover, a:focus
  color: darken(purple, 4)

h1.title
  font-weight:300
  font-size: 36px !important
  color: purple
  text-transform: uppercase

.col-left h2,
.col-left h3,
.col-left h4
  color:purple
  font-weight:400

.col-left
  padding-bottom: 15px

h1.title-header
  font-weight:600
  color: purple
  margin-top: 0px
  font-size: 36px !important


.col-right h1.title
  font-weight: 600
  text-transform: capitalize
  margin-top:0px

.container
  position:relative

.right
  float:right
.left
  float:left

.navbar-nav li a
  color:$font-color
  padding:10px 15px
  font-size:14px
  font-weight:400

.navbar-nav li
  text-transform:uppercase

.nav > li.dropdown.open > a,
.nav > li > a:hover, .nav > li > a:focus
  background-color: purple
  color:white

.nav > li.dropdown .caret
  margin-top:-2px
  color:#564a4a


.nav > li .dropdown-menu
  padding-top: 0px
  padding-bottom: 0px
  border:none
  overflow:hidden


.nav > li .dropdown-menu li a:hover
  background-color:#605371
  color:#fff

.nav > li.dropdown a:hover .caret,
.nav > li.dropdown.open .caret
  color:#fff

.nav > li:nth-child(2) .dropdown-menu a
  color:#888
  font-weight:400


.nav > li:nth-child(3) .dropdown-menu > li > a:hover
  background-color:#fff
  color:purple
  cursor:default

.nav > li .dropdown-menu .dropdown-menu-2
  list-style:none
  padding-left:0px

.nav > li .dropdown-menu > li > a
  font-weight:600
  color: purple

.nav > li .dropdown-menu > li > a
  border-top:1px solid #f3f3f3
  box-shadow:0px 1px 1px 0px #f1f1f1
  -webkit-box-shadow:0px 1px 1px 0px #f1f1f1
  padding:10px



.nav > li .dropdown-menu .dropdown-menu-2 a
  display:block

.nav > li .dropdown-menu .dropdown-menu-2  a::before,
.nav > li:nth-child(2) .dropdown-menu  a::before
  content:""
  width:20px
  height:20px
  background: url(../img/stripe.png) 98% 2.4% no-repeat
  float:left


#header-wrapper
  padding: 10px 0
#header-wrapper, #main-wrapper
  background-color:white

#banner
  padding: 245px 0 245px 0


#main-banner
  padding: 40px 0
  background: #605371 url(../img/mainbannerbg.png) no-repeat 10% bottom

#banner ul li .caption
  position:absolute
  bottom: 20%
  left:8%
  width:40%

#banner ul li .caption h1
  font-weight:700
  color:white
  text-shadow:1px 1px 1px #000
  -webkit-text-shadow:1px 1px 1px #000

#banner ul li .caption h3
  font-weight:400
  color:white
  text-shadow:1px 1px 1px #000
  -webkit-text-shadow:1px 1px 1px #000
  -moz-text-shadow:1px 1px 1px #000
  -o-text-shadow:1px 1px 1px #000
  line-height:1.4


 .main-content table
    border:1px solid #e9e9e9
    width:100%
    margin-top: 20px
    margin-bottom: 20px

 .main-content table thead th
    border:1px solid darken(purple, 4)
    background-color:purple
    color:#fff
    padding:10px
    font-weight:600
    text-transform:uppercase

 .main-content table tr td
    border:1px solid #e9e9e9
    padding:10px


#main-wrapper > .container, #footer-wrapper > .container
  padding: 50px 15px

#footer-wrapper
  background-color: purple
  color:white

#footer-wrapper ul, .contact-wrapper #contact-details
  padding-left: 0px
  list-style: none

#footer-wrapper ul#contact-details li::before,
.contact-wrapper #contact-details li::before
  content: ""
  width:25px
  height:25px
  float:left
  background: url("../img/stripe.png") no-repeat -77px -5px

#footer-wrapper ul li#phone::before,
.contact-wrapper #contact-details li#phone::before
  background-position: -77px -5px


#footer-wrapper ul li#fax::before,
.contact-wrapper #contact-details li#fax::before
  background-position: -77px -40px


#footer-wrapper ul li#email::before,
.contact-wrapper #contact-details li#email::before
  background-position: -77px -75px

#footer-wrapper #social-media li
  display:inline-block
  margin-right:5px

#footer-wrapper #social-media
  margin-top:25px

.clear
  clear:both

#footer-wrapper li a
  color:white

#mc_embed_signup #mc_embed_signup_scroll input
  height:45px
  width:100%
  border:none
  padding:5px
  outline:none

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group
  width:70%
  float:left
  border-top-left-radius:5px
  -webkit-border-top-left-radius:5px
  border-bottom-left-radius:5px
  -webkit-border-bottom-left-radius:5px
  overflow:hidden

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group input
  color:#333


#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit
  width:30%
  float:right
  border-top-right-radius:5px
  -webkit-border-top-right-radius:5px
  border-bottom-right-radius:5px
  -webkit-border-bottom-right-radius:5px
  overflow:hidden

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit input
  text-transform:uppercase
  background-color:#564a66
  color:#dedccd


#copyright
  background-color: darken(purple, 4)
  color: white

#copyright p
  padding-top: 10px



#menu-container
  position:absolute
  right:0px
  bottom:-10px
  text-align:right
  z-index:9

.navbar-brand
  display:none

#contact.right
  margin-top: 20px


#contact.right ul
  list-style:none
  padding-left:0px
  padding-right:10px
  float:right

#contact.right li
  float:left
  padding:0px 5px


#contact.right strong
  color: #605371

#main-wrapper .col-right.col-md-4 > .row > div
  padding-bottom:25px

#main-wrapper .col-right.col-md-4 > .row > div img
  max-width:100%
  height:auto

.contact-form .row .input-field

  padding-bottom:10px


.contact-form .row .input-field textarea
  border:none
  border-bottom:1px solid #ccc
  resize:none
  width:100%
  outline:none
  -webkit-border-radius:0px
  -ms-border-radius:0px



.contact-form .row .input-field .validate
  width:100%
  padding:10px 0
  border:none
  outline:none
  border-bottom:1px solid #ccc
  margin-bottom:10px
  border-radius:0px
  -webkit-border-radius:0px
  -ms-border-radius:0px


.event-wrapper date
  padding-bottom: 10px

.event-content p br
  line-height: 2.7

.news-item, .event-items
  border-bottom:1px solid #eee

.news-item .published,
.event-items .event-day
  margin-bottom:15px
  font-size:14px


.news-item .published date,
.event-items .event-day date
  text-transform:uppercase

.news-item .short-desc
  margin: 15px 0

.news-item .short-desc p:first-child
  text-align:left

.news-item .short-desc p.read-more,
.event-shortdesc p.read-more
  text-align:right

.news-item .short-desc p.read-more a,
.event-shortdesc p.read-more a
  padding:5px 10px
  text-transform:uppercase


.contact-form .row .input-field label,
.contact-form .row .input-field h4
  font-weight:400
  color:darken(purple, 4)

.contact-form .row .input-field .validate:focus:not([readonly]),
.contact-form .row .input-field textarea:focus:not([readonly])
  border-bottom:1px solid purple
  box-shadow: 0 1px 0 0 purple
  -webkit-box-shadow: 0 1px 0 0 purple
  transition: all .3s

.contact-form .row .input-field button
  border-radius:5px
  border:none
  padding:10px 30px
  background-image:none
  background-color: purple
  color:#fff
  font-weight:300
  text-transform:uppercase
  outline:none

.contact-form .row .input-field button:hover
  background-color: darken(purple, 4)

.lead-image
  margin:25px auto


[type=radio].with-gap:checked+label:after
    border-radius: 50%
    border: 2px solid purple
    background-color: purple
    z-index: 0
    -webkit-transform: scale(.5)
    -moz-transform: scale(.5)
    -ms-transform: scale(.5)
    -o-transform: scale(.5)
    transform: scale(.5)



[type=radio]:checked, [type=radio]:not(:checked)
    position: absolute
    left: -9999px
    visibility: hidden


[type=radio]:checked+label, [type=radio]:not(:checked)+label, [type=checkbox]+label
    -khtml-user-select: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    cursor: pointer
    font-size: 1rem
    padding-left: 35px
    display: inline-block
    line-height: 25px


[type=radio]:checked+label, [type=radio]:not(:checked)+label
    position: relative
    height: 25px
    -webkit-transition: .28s ease
    -moz-transition: .28s ease
    -o-transition: .28s ease
    -ms-transition: .28s ease
    transition: .28s ease


[type=radio]:not(:checked)+label:before
    border-radius: 50%
    border: 2px solid #ccc

[type=radio].with-gap:checked+label:before
    border-radius: 50%
    border: 2px solid purple


[type=radio]:checked+label:before
    border-radius: 50%
    border: 2px solid transparent


[type=radio]+label:after, [type=radio]+label:before
    content: ''
    position: absolute
    left: 0
    top: 0
    margin: 4px
    width: 16px
    height: 16px
    z-index: 0
    -webkit-transition: .28s ease
    -moz-transition: .28s ease
    -o-transition: .28s ease
    -ms-transition: .28s ease
    transition: .28s ease

.pager li > a:hover, .pager li > a:focus
  background-color:purple
  color:#fff


#calendar table tr td.event-date
  padding: 0px
  text-align: center
  background-color: #605371 !important
  margin: 0px !important
  border-radius: 0px
  width: 80px
  height: 80px
  vertical-align:top
  border-bottom:1px solid lighten(purple, 3);


#calendar table tr td.event-date div
  font-weight:300
  color:#fff

#calendar table tr td.event-date .date-day
  font-size: 24px
  margin: 0px
  padding: 0px
  text-align:center
  background-color: purple




#calendar table tr td.event-date .date-cal
   text-transform:uppercase
   font-weight:600
   font-size:18px
   letter-spacing: 1px
   line-height:1.7
   -webkit-font-smoothing: antialiased
   font-smoothing: antialiased
   text-rendering: optimizeSpeed
   background-color: darken(purple, 4)

#calendar table tr td.event-desc
  padding:5px
  background-color: #f5f5f5
  border-bottom:1px solid #eee;


#calendar table tr td.event-desc .event-title
  margin-bottom:0px
  line-height:1.4


#calendar table tr td.event-desc .event-title a
  text-transform:capitalize
#calendar table
  margin-top:30px
  margin-bottom:10px

#calendar table thead th
  font-size:24px
  padding:5px 10px
  background-color:#605371
  color:#fff
  font-weight:300


@media (max-width: 767px)
  #menu-container
    position:relative
    left:0px
    text-align:left
    bottom:0
    margin-top:10px
  .navbar-brand
    display:block
  #banner ul li .caption
    width:85%

  .navbar-toggle .icon-bar
    background-color:#605371

  .navbar-toggle
    border: 1px solid #605371

  #header-wrapper
    padding-bottom:0px
    z-index:2

  .navbar-collapse, .navbar-header
    border-top: 1px solid #dedccd

@media (max-width:640px)
  #contact.right
    margin:0px

  #contact.right ul li.divider
    display:none
  #banner
    padding:200px 0 200px 0

  #banner ul li .caption
    bottom:12%
    width:100%
    left:0
    padding:10%
    vertical-align: top

  .cbp-bicontrols
    top: 160px



@media (max-width:480px)
  #contact.right
    position: absolute
    top: 0px
    right: 0px
    width: 75%






