@import '_settings'

normalize-css()
base()

body
  padding: 0px
  font: $font-size/1.7 $source-sans-pro
  font-weight: 400
  color: $font-color

h1, h2, h3, h4, h5
  font-family: $source-sans-pro !important
  font-weight: 300

p, span, strong, li, a
  font-family: $source-sans-pro !important

a
  color:purple

h1.title
  font-weight:300
  font-size: 36px !important
  color: purple
  text-transform: uppercase

.col-right h1.title
  font-weight: 600
  text-transform: capitalize
  margin-top:0px

.container
  position:relative

.right
  float:right
.left
  float:left

.navbar-nav li a
  color:$font-color
  padding:10px 15px
  font-size:14px
  font-weight:400

.navbar-nav li
  text-transform:uppercase

.nav > li.dropdown.open > a,
.nav > li > a:hover, .nav > li > a:focus
  background-color: purple
  color:white

.nav > li.dropdown .caret
  margin-top:-2px


.nav > li .dropdown-menu
  padding-top: 0px
  padding-bottom: 0px
  border:none
  overflow:hidden


.nav > li .dropdown-menu li a:hover
  background-color:#605371
  color:#fff

.nav > li:nth-child(2) .dropdown-menu a
  color:#888
  font-weight:400


.nav > li:nth-child(3) .dropdown-menu > li > a:hover
  background-color:#fff
  color:purple
  cursor:default

.nav > li .dropdown-menu .dropdown-menu-2
  list-style:none
  padding-left:0px

.nav > li .dropdown-menu > li > a
  font-weight:600
  color: purple

.nav > li .dropdown-menu > li > a
  border-top:1px solid #f3f3f3
  box-shadow:0px 1px 1px 0px #f1f1f1
  -webkit-box-shadow:0px 1px 1px 0px #f1f1f1
  padding:10px



.nav > li .dropdown-menu .dropdown-menu-2 a
  display:block

.nav > li .dropdown-menu .dropdown-menu-2  a::before,
.nav > li:nth-child(2) .dropdown-menu  a::before
  content:""
  width:20px
  height:20px
  background: url(../img/stripe.png) 98% 2.4% no-repeat
  float:left


#header-wrapper
  padding: 10px 0
#header-wrapper, #main-wrapper
  background-color:white

#banner
  padding: 245px 0 245px 0


#main-banner
  padding: 40px 0
  background: #605371 url(../img/mainbannerbg.png) no-repeat 10% bottom

#banner ul li .caption
  position:absolute
  bottom: 20%
  left:8%
  width:40%

#banner ul li .caption h1
  font-weight:700
  color:white
  text-shadow:1px 1px 1px #000
  -webkit-text-shadow:1px 1px 1px #000

#banner ul li .caption h3
  font-weight:400
  color:white
  text-shadow:1px 1px 1px #000
  -webkit-text-shadow:1px 1px 1px #000
  -moz-text-shadow:1px 1px 1px #000
  -o-text-shadow:1px 1px 1px #000
  line-height:1.4


#main-wrapper > .container, #footer-wrapper > .container
  padding: 50px 15px

#footer-wrapper
  background-color: purple
  color:white

#footer-wrapper ul
  padding-left: 0px
  list-style: none

#footer-wrapper ul#contact-details li::before
  content: ""
  width:25px
  height:25px
  float:left
  background: url("../img/stripe.png") no-repeat -77px -5px

#footer-wrapper ul li#phone::before
  background-position: -77px -5px


#footer-wrapper ul li#fax::before
  background-position: -77px -40px


#footer-wrapper ul li#email::before
  background-position: -77px -75px

#footer-wrapper #social-media li
  display:inline-block
  margin-right:5px

#footer-wrapper #social-media
  margin-top:25px

.clear
  clear:both

#footer-wrapper li a
  color:white

#mc_embed_signup #mc_embed_signup_scroll input
  height:45px
  width:100%
  border:none
  padding:5px
  outline:none

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group
  width:70%
  float:left
  border-top-left-radius:5px
  -webkit-border-top-left-radius:5px
  border-bottom-left-radius:5px
  -webkit-border-bottom-left-radius:5px
  overflow:hidden

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group input
  color:#333


#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit
  width:30%
  float:right
  border-top-right-radius:5px
  -webkit-border-top-right-radius:5px
  border-bottom-right-radius:5px
  -webkit-border-bottom-right-radius:5px
  overflow:hidden

#mc_embed_signup #mc_embed_signup_scroll .mc-field-group-submit input
  text-transform:uppercase
  background-color:#564a66
  color:#dedccd


#copyright
  background-color: darken(purple, 4)
  color: white

#copyright p
  padding-top: 10px



#menu-container
  position:absolute
  right:0px
  bottom:-10px
  text-align:right

.navbar-brand
  display:none

#contact.right
  margin-top: 20px


#contact.right ul
  list-style:none
  padding-left:0px
  padding-right:10px
  float:right

#contact.right li
  float:left
  padding:0px 5px


#contact.right strong
  color: #605371

#main-wrapper .col-right.col-md-4 > .row > div
  padding-bottom:25px

#main-wrapper .col-right.col-md-4 > .row > div img
  max-width:100%
  height:auto



@media (max-width: 767px)
  #menu-container
    position:relative
    left:0px
    text-align:left
    bottom:0
    margin-top:10px
  .navbar-brand
    display:block
  #banner ul li .caption
    width:85%

  .navbar-toggle .icon-bar
    background-color:#605371

  .navbar-toggle
    border: 1px solid #605371

  #header-wrapper
    padding-bottom:0px

  .navbar-collapse, .navbar-header
    border-top: 1px solid #dedccd

@media (max-width:640px)
  #contact.right
    margin:0px

  #contact.right ul li.divider
    display:none
  #banner
    padding:200px 0 200px 0

  #banner ul li .caption
    bottom:15%
    width:100%
    left:0
    padding:10%
    vertical-align: top

  .cbp-bicontrols
    top: 160px



@media (max-width:480px)
  #contact.right
    position: absolute
    top: 0px
    right: 0px
    width: 75%






