.calendar a {
    text-decoration: none;
}

.calendar h2 {
    font-size: 22px;
    line-height: 20px;
    margin: 4px 0;
    color:#fff;
}

.calendar h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 5px 0;
}

.calendar table {
    border-spacing: 0;
    width: 100%;


}

.calendar-container {
    height: 538px;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 45%;
    width: 510px;
}

.calendar {
    text-align: center;
    position:relative;
}

.calendar header {
    position: relative;
    border-top: 4px solid #564a65;
    border-bottom: 1px solid #d0d0d0;
    padding:15px 0px;
    background-color: #605371;
}
.calendar a::before{
    font-family:FontAwesome;
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar h2.title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #605371;
    box-shadow: 0 1px rgba(255,255,255,0.9);
    margin-bottom: 30px;
    margin-top:0px;
}

.calendar thead td {
    font-weight: 600;
    text-transform: uppercase;

}

.calendar tbody {
    color: #868686;
}

.calendar tbody td:hover {
    border: 2px solid #605371;
}

.calendar tbody td.active {
    border: 2px solid #605371;
}

.calendar td {
    height: 40px;
    line-height: 3;
    text-align: center;
    width: 40px;
    padding: 0px;
}

.calendar .current-day {
    background: #605371;
    color: #f9f9f9;
}

.calendar .event {
    cursor: pointer;
    position: relative;
}

.calendar .event:after {
    background: #605371;
    border-radius: 50%;
    bottom: 8px;
    display: block;
    content: '';
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 8px;
}

.calendar .event.current-day:after {
    background: #f9f9f9;
}

.calendar .btn-prev,
.calendar .btn-next {
    border: 2px solid #dedccd;
    border-radius: 50%;
    color: #dedccd;
    height: 32px;
    font-size: 22px;
    line-height: 28px;
    margin: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}

.calendar .btn-prev:hover,
.calendar .btn-next:hover {
    background: #564a65;
    color: #f9f9f9;
}

.calendar .btn-prev {
    left: 30px;
}

.calendar .btn-next {
    right: 35px;
}

.calendar .list {
    margin-top: 0px;
    position:absolute;
    top:0px;
    height:100% !important;
    background-color: #f6f6f6;
    z-index:1;
    overflow-y:auto;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list::-webkit-scrollbar-track {
    background-color:#dedccd;
    border-radius:10px;

}

.list::-webkit-scrollbar-thumb {
  background-color: #aaa;
  outline: 1px solid slategrey;
  border-radius:10px;
}

.calendar .close {
    color: #fff;
    position:absolute;
    right:5px;
    top:10px;
    float: right;
    border: 1px solid #dedccd;
    background-color: #a9a687;
    padding:5px;
}

.calendar .day-event {width: 100%;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;display:none;text-align: left;}

.calendar .day-event p{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.calendar .day-event br{
    line-height:2.7;
}

.calendar .day-event span{
    font-size: 12px;
}

.calendar .day-event button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}